{% extends 'base.html' %}

{% block title %} <title> Stock Portfolio </title> {% endblock title %}
{% block content %}
    
    <br/>
    
    {% if ticker %}
        {{ ticker }}
    {% endif %}

    {% if api %}
        {% if api == "Error..." %}
            There was a problem with your ticker symbol please try again...        
        {% else %}

        <h2> {{ api.companyName }} </h2>
        
            {% for key, value in api.items  %}
                {{ key }} : {{ value }} <br/>
            {% endfor %}
      
          <!--  
            Price: ${{ api.latestPrice }} <br/>
            Previous Close: {{ api.previousClose }} <br/>
            Market Cap.: {{ api.marketCap }} <br/>
            YTD Change: {{ api.ytdChange }} <br/>
            52week Low: {{ api.week52Low }} <br/>
            52week High: {{ api.week52High }} <br/>
         -->
        {% endif %}
    {% endif %}


    
{% endblock %}
